@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-size: 10px;
  width: 100vw;
  height: 100vh;
}

html body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

html span {
  vertical-align: top;
}

.calendarContainer {
  width: 700px;
  margin: 0 auto;
}

.calendarContainer .dayCellsViewPort {
  width: 720px;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.calendarContainer .dayCellsViewPort .dayCellsWrap {
  width: 1400px;
  height: 490px;
}

.carouselInc-enter {
  margin-left: 700px;
}

.carouselInc-enter-active {
  margin-left: 0;
  transition: all 300ms linear;
}

.carouselInc-leave {
  margin-left: -1400px;
}

.carouselInc-leave-active {
  margin-left: -1400px;
  transition: all 300ms linear;
}


.carouselDec-enter {
  margin-left: -700px;
}

.carouselDec-enter-active {
  margin-left: 0;
  transition: all 300ms linear;
}