@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-size: 10px;
  width: 100vw;
  height: 100vh;
}

html body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

html span {
  vertical-align: top;
}

.calendarContainer {
  width: 700px;
  margin: 0 auto;
}

.calendarContainer .dayCellsViewPort {
  width: 720px;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.calendarContainer .dayCellsViewPort .dayCellsWrap {
  width: 1400px;
  height: 490px;
}

.carouselInc-enter {
  margin-left: 700px;
}

.carouselInc-enter-active {
  margin-left: 0;
  transition: all 300ms linear;
}

.carouselInc-leave {
  margin-left: -1400px;
}

.carouselInc-leave-active {
  margin-left: -1400px;
  transition: all 300ms linear;
}


.carouselDec-enter {
  margin-left: -700px;
}

.carouselDec-enter-active {
  margin-left: 0;
  transition: all 300ms linear;
}

.carouselDec-leave {
  margin-left: 0;
}

.carouselDec-leave-active {
  margin-left: 0;
  transition: all 300ms linear;
}

.monthYearTitleContainer .monthWrap,
.monthYearTitleContainer .yearWrap {
  display: inline-block;
  text-align: center;
  color: #ff3b30;
}

.monthYearTitleContainer .monthWrap {
  padding: 20px 5px 0 0;
  font-size: 3rem;
}

.monthYearTitleContainer .yearWrap {
  padding: 20px 0 0 5px;
  font-size: 2rem;
}

.weekdayTitleContainer {
  width: 700px;
  margin: 0 auto;
}

.weekdayTitleContainer .weekWrap {
  padding: 20px 20px 10px;
  width: 60px;
  display: inline-block;
  text-align: center;
  font-size: 2.2rem;
}

.calendarWrap {
  display: inline-block;
}

.calendarWrap .dayCellsContainer {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.calendarWrap .dayCellsContainer .cell,
.calendarWrap .dayCellsContainer .cell-blank {
  height: 70px;
  width: 60px;
  padding: 15px 20px 10px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.14);
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.calendarWrap .dayCellsContainer .cell-blank {
  border-top: 0.5px solid transparent;
}

.calendarWrap .dayCellsContainer .dayNum {
  width: 5rem;
  padding: 1.25rem 0;
  display: inline-block;
  border-radius: 50%;
}